/* demo 1 08/08/2026 ddmmyy */
:root {
    background-color: #FFDBBB;
    color: #A0522D;
    font-family: Rubik, sans-serif;
}
#thewholething {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem           
}